<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <meta charset="utf-8">
  <title>management</title>
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .header {
      height: 10vh;
      width: 100%;
      border-bottom: 5px solid #483D8B;
      text-align: center;
      margin-bottom: 30px;
    }
    .menu{
      height: 70vh;
      background-color: azure;
      border-radius: 0 0 50px 50px;
      border: none;
      overflow-y: scroll;
    }
    .menu::-webkit-scrollbar {
      display: none;
    }
    .title{
      height: 10vh;
      display: flex;
      flex-wrap: wrap;
      background-color: #0081CC;
      border-radius: 50px 50px 0px 0px;
      border: none;
    }
    .button {
      background-color: red;
      border: none;
      color: white;
      height: 90%;
      width: 90%;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
      border-radius: 10%;
      margin: 4px 4px;
    }
    .tagButton {
      width: 100px;
      height: 50px;

      background-color: #cccccc;
      border: 0;
      border-top-left-radius: 10%;
      border-top-right-radius: 10%;

      margin-right: 1px;
    }
    #menu button {
      width: 100%;
      height: 6vh;
      font-size: 20px;
      border: none;
      border-bottom: 1px solid black;
    }
    #storeItem input{
      border-bottom: 100px;
    }
    .member-detail {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 83vh;
    }

    thead th {
      text-align: center;
    }

    .memberListBody-3 td {
      cursor: pointer;
    }

    .selected {
      background-color: white;
    }
    .selectMember {
      background-color: #99f;
    }

    #timeList {
      display: block;
      height: 100%;
      max-height: 100%;
      overflow: scroll;
      border-bottom: 2px solid dimgray;
    }
    #timeList::-webkit-scrollbar {
      display: none;
    }

    .fieldError {
      border-color: #bd2130;
    }
    .error {
      color: #dc3545;
    }
  </style>
  <style>
    .modal{
      position: absolute;
      display: none;

      justify-content: center;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgb(0, 0, 0, 0.4);    /* 0.4는 투명도 설정 */
    }
    .modal-body {
      position: absolute;
      top: 50%;   /* 모달을 화면 가운데 놓기 위해 */

      width: 50%;    /* 모달의 가로 크기 */
      height: 40%;   /* 모달의 세로 크기 */

      padding: 40px;

      text-align: center;

      background-color: white;  /* 모달창 배경색 */
      box-shadow: 2 2px 3px 0 #464646; /* 테두리 그림자 */
      border-radius: 20px;

      transform: translateY(-50%); /* 모듈창 열었을 때 위치 설정 가운데로*/
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background-color:#1E90FF;">
<div style="height: 100vh;">
  <div class="container">
    <div class="header center">
      <div class="col-11" style="padding-left: 10px; font-size: 30px;">
        <button style="position: absolute; left: 0;" onclick="location.href='/'">
          <strong><h1>←</h1></strong>
        </button>
        <h1 style="width: 100%; text-align: center"><strong>사용자 관리</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="management" style="height: 60vh">
        <div class="col-12" style="height: 7vh; display: flex;">
          <div class="col-6" style="display: flex;">
            <button class="tagButton" id="admin"
                    onclick="location.href='/members/management?memberTag=admin'">관리자<br/>수정</button>
            <button class="tagButton" id="memberSet"
                    onclick="location.href='/members/management?memberTag=memberSet'">회원정보<br/>수정</button>
            <button class="tagButton" id="salary"
                    onclick="location.href='/members/management?memberTag=salary'">월급 관리</button>
          </div>
          <div class="col-6" style="display: flex; justify-content: right;  padding-bottom: 10px;">
            <form class="col-12" action="/members/management" method="get" style="text-align: right">
              <th:block th:if="${memberTag} == 'salary'">
                <input type="month" name="searchDate" class="col-4" th:value="${searchDate}">
              </th:block>
              <input type="text" id="memberName" name="searchName" class="col-4" placeholder="회원 이름">
              <input type="hidden" name="memberTag" th:value="${memberTag}">
              <input type="submit" value="검색" class="col-2" style="margin-left: 5px;" >
            </form>
          </div>
        </div>
        <div class="col-12" id="memberList" style="height: 70vh; background-color: white">
          <!-- admin table -->
          <table class="members" id="members-1" style="width: 100%; height: 100%">
            <thead style="background-color: #cccccc; width: 100%; height: 3.75vh">
            <tr style="display: table; width: 100%;">
              <th style="width: 10%">번호</th>
              <th style="width: 15%">아이디</th>
              <th style="width: 15%">이름</th>
              <th style="width: 20%">생년월일</th>
              <th style="width: 30%">주소</th>
              <th style="width: 10%">관리자<br/>여부</th>
            </tr>
            </thead>
            <tbody id="memberListBody-1" style="display:block; width: 100%; height: 100%; max-height: 70vh;">
            <!-- th:each를 사용하여 사용자의 정보를 표시 -->
            <th:block th:each="member : ${memberDtoList}">
              <tr th:id="${member.id}" style="border-bottom: 1px solid dimgray; display: table; width: 100%;; height: 10%">
                <td th:text="${member.id}" style="width: 10%; text-align: center;"></td>
                <td th:text="${member.stringId}" style="width: 15%; text-align: center;"></td>
                <td th:text="${member.name}" style="width: 15%; text-align: center;"></td>
                <td th:text="${member.birth}" style="width: 20%; text-align: center;"></td>
                <td th:text="${member.stringAds}" style="width: 30%; text-align: center;"></td>
                <td style="width: 10%; text-align: center;">
                  <input type="checkbox" th:checked="${member.admin}" th:onclick="keepChecked(this, [[${member.admin}]])" th:onchange="updateAdmin([[${member.id}]], [[${member.stringId}]], [[${member.admin}]])">
                </td>
              </tr>
            </th:block>
            </tbody>
          </table>
          <!-- updateAminForm -->
          <form id="updateAdmin" action="/members/management/admin" method="post" hidden="hidden">
            <!-- 관리자 수정이 변할 때 input이 추가 -->
          </form>

          <!-- memberSet table -->
          <table class="members" id="members-2" style="width: 100%; height: 100%">
            <thead style="background-color: #cccccc; width: 100%; height: 3.75vh">
            <tr style="display: table; width: 100%; height: 10%">
              <th style="width: 10%">번호</th>
              <th style="width: 15%">아이디</th>
              <th style="width: 15%">이름</th>
              <th style="width: 20%">생년월일</th>
              <th style="width: 30%">주소</th>
              <th style="width: 10%">저장</th>
            </tr>
            </thead>
            <tbody id="memberListBody-2" class="memberListBody-2" style="display:block; width: 100%; height: 100%; max-height: 70vh;">
            <!-- th:each를 사용하여 사용자의 정보를 표시 -->
            <th:block th:each="member : ${memberDtoList}">
              <tr th:id="${member.id}" style="border-bottom: 1px solid dimgray; display: table; width: 100%; height: 10%">
                <td th:text="${member.id}" style="width: 10%; text-align: center;"></td>
                <td th:text="${member.stringId}" style="width: 15%; text-align: center;"></td>
                <td style="width: 15%; text-align: center;">
                  <input type="text" th:id="${'name' + member.id}" th:value="${member.name}" style="width: 100%">
                </td>
                <td style="width: 20%; text-align: center;">
                  <input type="date" th:id="${'birth' + member.id}" th:value="${member.birth}" style="width: 100%">
                </td>
                <td style="width: 30%; position: relative;">
                  <input type="hidden" class="address zipcode" name="zipcode" th:classappend="${member.stringId + member.id}" th:value="${member.address != null ? member.address.zipcode : ''}">
                  <input type="text" class="address streetAdr" name="streetAdr" th:classappend="${member.stringId + member.id}" th:value="${member.address != null ? member.address.streetAdr : ''}" style="width: 100%;" readonly>
                  <input type="text" class="address detailAdr" name="detailAdr" th:classappend="${member.stringId + member.id}" th:value="${member.address != null ? member.address.detailAdr : ''}" placeholder="상세 주소" style="width: 100%">
                  <button style="position: absolute; right: 0;" th:onclick="findAddr([[${member}]])">검색</button>
                </td>
                <td style="width: 10%; text-align: center;">
                  <button style="background-color: #1E90FF; border: 0; border-radius: 10%; color: white;" th:onclick="openModal([[${member}]], false)">저장</button>
                </td>
              </tr>
            </th:block>
            </tbody>
            <tfoot>

            </tfoot>
          </table>
          <!-- memberSet form -->
          <form id="member-set" th:if="${memberTag.equals('memberSet')}" th:object="${memberUpdate}" action="/members/management/memberSet" method="post" hidden="hidden">
            <input id="id" type="text" th:field="*{stringId}" th:value="*{stringId}">
            <input id="checkbox" type="radio" th:field="*{checkId}" th:value="*{checkId}">
            <input id="name" type="text" th:field="${memberUpdate.name}" th:value="${memberUpdate.name}">
            <input id="pw" type="text" th:field="*{pw}" th:value="*{pw}">
            <input id="confirmPw" type="text" th:field="*{confirmPw}" th:value="*{confirmPw}">
            <input id="birth" type="date" th:field="*{birth}" th:value="*{birth}">
            <input id="zipcode" type="text" th:field="*{zipcode}" th:value="*{zipcode}">
            <input id="streetAdr" type="text" th:field="*{streetAdr}" th:value="*{streetAdr}">
            <input id="detailAdr" type="text" th:field="*{detailAdr}" th:value="*{detailAdr}">
            <input name="page" th:value="${memberDtoList.number}">
          </form>

          <table class="members" id="members-3" style="width: 100%; height: 100%">
            <thead style="background-color: #cccccc; width: 100%; height: 3.75vh">
            <tr style="display: table; width: 100%">
              <th style="width: 10%">번호</th>
              <th style="width: 15%">아이디</th>
              <th style="width: 15%">이름</th>
              <th style="width: 20%">총 시간</th>
              <th style="width: 20%">총 일수</th>
              <th style="width: 20%">월급</th>
            </tr>
            </thead>
            <tbody class="memberListBody-3" id="memberListBody-3" style="display:block; width: 100%; height: 100%; max-height: 70vh;">
            <!-- th:each를 사용하여 사용자의 정보를 표시 -->
            <th:block th:each="member : ${memberTimesPaging}">
              <tr th:id="${member.memberId}" style="border-bottom: 1px solid dimgray; display: table; width: 100%; height: 10%" th:onclick="selectMember(event, [[${memberTimesGroup.get(member.memberId)}]], [[${member}]])">
                <td th:text="${member.memberId}" style="width: 10%; text-align: center;"></td>
                <td th:text="${member.memberStringId}" style="width: 15%; text-align: center;"></td>
                <td th:text="${member.memberName}" style="width: 15%; text-align: center;"></td>
                <td th:text="${member.totalTime} + '시간'" style="width: 20%; text-align: center;"></td>
                <td th:text="${member.totalDay} + '일'" style="width: 20%; text-align: center;"></td>
                <td th:text="${#numbers.formatInteger(member.salary, 0, 'COMMA')} + '원'" style="width: 20%; text-align: center;"></td>
              </tr>
            </th:block>
            </tbody>
            <tfoot>

            </tfoot>
          </table>
        </div>
        <!-- 페이징 처리 -->
        <th:block th:if="${memberTag} != 'salary'">
          <div class="col-12 navigator" style="height: 6vh; display: flex; background-color: white;">
            <ul class="col-10 pagination" id="pagination" style="display: flex; height:100%; justify-content: center;">
              <li class="page-item" th:classappend="${!memberDtoList.hasPrevious()} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${memberDtoList.number - 1}&memberTag=${memberTag}|}">
                  <span><</span>
                </a>
              </li>
              <li th:each="page : ${#numbers.sequence(0, memberDtoList.totalPages - 1)}"
                  th:if="${page >= memberDtoList.totalPages - 5 and page <= memberDtoList.number+5}"
                  th:classappend="${page == memberDtoList.number} ? 'active'"
                  class="page-item">
                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}&memberTag=${memberTag}|}"></a>
              </li>
              <li class="page-item" th:classappend="${!memberDtoList.hasNext()} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${memberDtoList.number+1}&memberTag=${memberTag}|}">
                  <span>></span>
                </a>
              </li>
            </ul>
            <div class="col-2" id="saveButton" style="height: 100%; text-align: right;">
              <button style="width:100px; height: 100%; font-size: 20px; border: 0px; border-radius: 10%; background-color: #4caf50; color: white" onclick="submit()">저장</button>
            </div>
          </div>
        </th:block>

        <th:block th:if="${memberTag} == 'salary'">
          <div class="col-12 navigator" style="height: 6vh; display: flex; background-color: white;">
            <ul class="col-12 pagination" style="display: flex; height:100%; justify-content: center;">
              <li class="page-item" th:classappend="${!memberTimesPaging.hasPrevious()} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${memberTimesPaging.number - 1}&memberTag=${memberTag}|}">
                  <span><</span>
                </a>
              </li>
              <li th:each="page : ${#numbers.sequence(0, memberTimesPaging.totalPages - 1)}"
                  th:if="${page >= memberTimesPaging.totalPages - 5 and page <= memberTimesPaging.number+5}"
                  th:classappend="${page == memberTimesPaging.number} ? 'active'"
                  class="page-item">
                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}&memberTag=${memberTag}|}"></a>
              </li>
              <li class="page-item" th:classappend="${!memberTimesPaging.hasNext()} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${memberTimesPaging.number + 1}&memberTag=${memberTag}|}">
                  <span>></span>
                </a>
              </li>
            </ul>
          </div>
        </th:block>
        </div>

      <div class="col-5 member-detail" id="member-detail" hidden="hidden">
        <!-- 선택한 사용자의 상세 정보를 표시 -->
        <div class="col-12" id="memberDetailHeader" style="height: 10%; display: flex; flex-wrap: wrap; border-bottom: 2px solid dimgray; padding-bottom: 2px;">
          <div class="col-12 center" style="margin-bottom: 0">
            <h3><strong><span id="member-name"></span></strong>의 상세 시간</h3>
          </div>
        </div>
        <div class="col-12" id="memberDetailBody" style="height: 90%;">
          <table style="width: 100%; height: 100%; margin-top: 3px;">
            <thead style="width: 100%; border-top: 1px solid dimgray; border-bottom: 1px solid dimgray;">
              <tr style="display: table; width: 100% ">
                <td style="text-align: center; width: 10%">번호</td>
                <td style="text-align: center; width: 30%">시작 시간</td>
                <td style="text-align: center; width: 30%">종료 시간</td>
                <td style="text-align: center; width: 10%">일한 시간</td>
                <td style="text-align: center; width: 20%">일급</td>
              </tr>
            </thead>
            <tbody id="timeList">
            <!-- 회원 선택 시 리스트가 생김-->
            </tbody>
            <tfoot style="width: 100%; height: 15%; border-top: 2px solid dimgray">
              <tr style="display: table; width: 100%; height: 100%; border-top: 1px solid dimgray; margin-top: 3px;">
                <td colspan="2" style="width: 30%; text-align: center"><strong>총 일한 시간</strong></td>
                <td id="totalTime" style="width: 30%; text-align: right">0 시간</td>
                <td style="width: 20%; text-align: center"><strong>월급</strong></td>
                <td id="member-salary" style="width: 20%; text-align: right; padding-right: 5px">0 원</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- 저장 버튼을 누르면 생기는 모달 -->
<div class="modal">
  <div class="modal-body">
    <div style="display: flex">
      <h1 class="col-4" style="text-align: left" onclick="Back()";><strong>←</strong></h1>
      <h1 class="col-8" style="text-align: left"><strong>비밀번호 입력</strong></h1>
    </div>
    <div class="center" style="height: 60%">
      <div th:object="${memberUpdate}">
        <span class="error" th:if="${#fields.hasErrors('pw')}" th:errors="${memberUpdate.pw}"></span>
        <span class="error" th:if="${#fields.hasErrors('confirmPw')}" th:errors="${memberUpdate.confirmPw}"></span>
        <input type="password" th:field="${memberUpdate.confirmPw}" id="confirmPassword" placeholder="비밀번호를 입력하세요"
              th:class="${#fields.hasErrors('pw') || #fields.hasErrors('confirmPw')} ? 'form-control fieldError' : 'form-control'"/>
      </div>
    </div>
    <div class="center" style="display: flex">
      <input type="submit" class="button" style="height: 60px" value="네" onclick="submitMember()">
      <input type="button" class="button" onclick="Back()" style="height: 60px; background-color: gray;" value="아니요">
    </div>
  </div>
</div>
<script th:inline="javascript">

  // 화면이 load될때 실행
  function memberTagSelect() {
    // memberTag를 받아온다
    var memberTag = /*[[${memberTag}]]*/ [];

    // members table을 검색
    var members = document.getElementsByClassName("members");

    if (memberTag === "admin") { // memberTag가 admin일 경운 admin tag에 selected 클래스를 추가한다.
      // id가 admin인 객체에 selected 클래스 부여
      document.getElementById("admin").classList.add("selected");

      // 회원정보 수정 & 월급 관리 table display를 none으로 한다.
      members[1].style.display = "none";
      members[2].style.display = "none";
    } else if (memberTag === "memberSet") {
      document.getElementById("memberSet").classList.add("selected");
      members[0].style.display = "none";
      members[2].style.display = "none";
      // pagination div class를 col-12로 변경
      document.getElementById("pagination").classList.remove("col-10");
      document.getElementById("pagination").classList.add("col-12");
      // saveButton hidden 설정
      document.getElementById("saveButton").hidden = "hidden";
      errorUpdateMember();
    } else {
      // salary tag 선택
      document.getElementById("salary").classList.add("selected");
      // management div의 크기를 col-12에서 col-7로 변경한다.
      document.getElementById("management").classList.remove("col-12");
      document.getElementById("management").classList.add("col-7");
      document.getElementById("member-detail").hidden = undefined;

      // 회원정보 수정 & 월급 관리 tbody display를 none으로 한다.
      members[0].style.display = "none";
      members[1].style.display = "none";
    }
  }

  memberTagSelect();

  function selectMember(event, memberTime, member) {
    // 모든 tr 요소에서 selected 클래스 제거
    var cells = document.querySelectorAll(".memberListBody-3 tr");
    cells.forEach(function(cell) {
      cell.classList.remove("selectMember");
    });

    // 클릭된 tr요소에 selected 클래스 추가
    if (event)
      event.currentTarget.classList.add("selectMember");

    // tbody 'memberList'에 상세정보 입력
    document.getElementById("member-name").innerText = memberTime[0]['name'];

    var memberTimeList_html = '';
    for (const mt in memberTime) {
      memberTimeList_html += "<tr style='display: table; width: 100%'>"
      memberTimeList_html += "<td style='width: 10%; text-align: center;'>" + memberTime[mt]['id'] + "</td>"
      memberTimeList_html += "<td style='width: 30%; text-align: center;'>" + memberTime[mt]['startTime'] + "</td>"
      memberTimeList_html += "<td style='width: 30%; text-align: center;'>" + memberTime[mt]['endTime'] + "</td>"
      memberTimeList_html += "<td style='width: 10%; text-align: center;'>" + memberTime[mt]['time'] + "</td>"
      memberTimeList_html += "<td style='width: 20%; text-align: center;'>" + memberTime[mt]['rate'] +'원' + "</td>"
      memberTimeList_html += "</tr>"
    }

    // 사용자 상세 내역
    document.getElementById("timeList").innerHTML = memberTimeList_html;
    document.getElementById("totalTime").innerText = member['totalTime'] + " 시간";
    document.getElementById("member-salary").innerText = member['salary'].toLocaleString('ko-KR') + "원";
  }

  // 관리자 변경
  function updateAdmin(id, stringId, admin) {
    var updateAdmin = document.getElementById("updateAdmin");

    var updateList = document.getElementsByName(stringId);

    // admin이 false 일 경우에서 form에 input 추가
    if (!admin) {
      // form에 선택한 member의 input이 없다면 추가
      if (updateList.length == 0) {
        var input = document.createElement("input");
        input.type = "text";
        input.value = id;
        input.name = stringId;
        input.id = stringId;

        updateAdmin.appendChild(input);
      } else {  // form에 선택한 member가 있다면 삭제
        updateList[0].remove();
      }
    }
  }

  // 체크박스 상태 고정시키는 함수
  function keepChecked(checkbox, admin) {
    if (admin) {
      checkbox.checked = true;
    }
  }

  // 비밀번호를 잘못 입력 했을 경우 modal 화면에 출력
  function errorUpdateMember() {
    var member = /*[[${memberUpdate}]]*/ [];

    if (member.stringId !== null){
      openModal(member, true);
    }
  }

  // modal 화면에 표시하기
  function openModal(member, error) {
    var selected = document.getElementById("member-set");
    var updateAddress = document.getElementsByClassName(member.stringId + member.id);

    document.getElementById("id").value = member.stringId;
    document.getElementById("name").value = error ? member.name : document.getElementById('name' + member.id).value;
    document.getElementById("birth").value = error ? member.birth : document.getElementById('birth' + member.id).value;
    document.getElementById("zipcode").value = error ? member.zipcode : updateAddress.namedItem('zipcode').value;
    document.getElementById("streetAdr").value = error ? member.streetAdr : updateAddress.namedItem('streetAdr').value;
    document.getElementById("detailAdr").value = error ? member.detailAdr : updateAddress.namedItem('detailAdr').value;

    const modal = document.querySelector('.modal')
    modal.style.display = "flex";
  }
</script>
<script>
  function findAddr(member) {
    new daum.Postcode({
      oncomplete: function(data) {

        var addr = "";  // 주소 변수
        var extraAddr = ""; // 참고항목 변수

        if (data.userSelectedType == 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else {    // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }

        if (data.userSelectedType == 'R') {
          if (data.bname != '' && /[동|로|가]$/g.test(data.bname)) {
            extraAddr += data.bname;
          }
          if (data.buildingName != '' && data.apartment == 'Y') {
            extraAddr += (extraAddr != '' ? ',' + data.buildingName : data.buildingName);
          }
          if (extraAddr != '') {
            extraAddr = '(' + extraAddr + ')';
          }
          var stringId = document.getElementsByClassName(member.stringId + member.id);
          stringId.namedItem('detailAdr').value = '';
        } else {
          var stringId = document.getElementsByClassName(member.stringId + member.id);
          stringId.namedItem('detailAdr').value = '';
        }
        var stringId = document.getElementsByClassName(member.stringId + member.id);
        stringId.namedItem('zipcode').value = data.zonecode;
        stringId.namedItem("streetAdr").value = addr;
        stringId.namedItem("detailAdr").focus();
      }
    }).open();
  }

  function submit() {
    // updateAdmin form을 가지고온다
    var updateAdmin = document.getElementById("updateAdmin");
    // form에서 input tag를 가지고 온다.
    var update = updateAdmin.querySelectorAll("input");
    // input tag가 1개 이상일 경우 submit
    if (update.length > 0) {
      updateAdmin.submit();
    }
  }

  function submitMember() {
    var selected = document.getElementById("member-set");
    var pw = document.getElementById("confirmPassword").value;

    document.getElementById("pw").value = pw;
    document.getElementById("confirmPw").value = pw;

    selected.submit();
  }

  // 결제 취소 modal 화면 감추기
  function Back() {
    const modal = document.querySelector('.modal')

    modal.style.display="none";
  }

  function searchResult() {
    var result = /*[[${searchResult}]]*/ [];

    if (!result) {
      alert("검색 실패!\n검색한 상품이 존재하지 않습니다.");
    }
  }

  searchResult();
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
