<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <meta charset="utf-8">
  <title>상품 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <style>
    .text{
      text-align: center;
      padding-top: 5px;
      border: 1px solid black;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body style="background-color:#1E90FF;">
<div style="height: 100vh; border : 1px solid black">
  <div class="container">
    <div class="header" style="display: flex; border-bottom : 1px solid black; height: 10vh;">
      <div class="col-7" style="padding-left: 10px;"><h1>POS</h1></div>
      <button class="col-1" onclick="location.href='items/add'">입고</button>
      <button class="col-1" onclick="location.href='items/store'">상품 추가</button>
      <button class="col-1" onclick="location.href='items/delete'">상품 삭제</button>
      <button class="col-1" onclick="location.href='order/check'">주문 조회</button>
      <button class="col-1" onclick="location.href='order/amount'">총 매출</button>
      <button class="col-1" onclick="location.href='login'">사용자 전환</button>
      <button class="col-1" onclick="location.href='exit'">마감</button>
    </div>
    <div style="display: flex; height: 90vh">
      <div class="col-5">
        <div style="align-items: center; background-color: azure; border: 1px solid black;">
          <div style="height: 45vh;">
            <div style="display: flex; height: 10%; overflow-y:scroll">
              <div class="col-1 text">선택</div>
              <div class="col-4 text">상품명</div>
              <div class="col-1 text">수량</div>
              <div class="col-2 text">금액</div>
              <div class="col-2 text">할인금액</div>
              <div class="col-2 text">총 금액</div>
            </div>

            <div id="cart" style="overflow-y: scroll; height:90%;">
              <th:block th:each="cartItem : ${session.cart}">
                <div style="display: flex;">
                  <input type="checkbox" class="col-1 center">
                  <input type="hidden" class="item-id" th:value="${cartItem.value.item.id}" readOnly>
                  <input type="hidden" class="item-stock" th:value="${cartItem.value.item.stockQuantity}" readOnly>
                  <input type="text" class="col-4 center item-name" th:value="${cartItem.value.item.name}" readOnly>
                  <input type="text" class="col-1 center quantity" th:value="${cartItem.value.quantity}" style="text-align: center" readOnly>
                  <input type="text" class="col-2 price" th:value="${cartItem.value.item.price}" style="text-align: right" readOnly>
                  <input type="text" class="col-2 discount" th:value="${cartItem.value.discount}" style="text-align: right" readOnly>
                  <input type="text" class="col-2 amount" th:value="${cartItem.value.orderPrice}" style="text-align: right" readOnly>
                </div>
              </th:block>

            </div>
          </div>
        </div>
        <div style="display: flex; min-height: 30vh;">
          <div class="col-6" style="background-color: azure; height: 40vh;">
            <div class="총 수량" style="height: 20%; border: 1px solid black; display:flex">
              <div class="col-4" style="padding-left:3px;">총 수량</div>
              <div class="col-8" id="totalCount" th:value="${session.totalCount}" th:text="${session.totalCount}" style="text-align:right; font-size:40px; padding-right:5px;"></div>
            </div>
            <div class="할인금액" style="height: 20%; border: 1px solid black; display:flex">
              <div class="col-4" style="padding-left:3px;">할인금액</div>
              <div class="col-8" id="totalDiscount" th:value="${session.totalDiscount}" th:text="${session.totalDiscount}" style="text-align:right; font-size:40px; padding-right:5px;"></div>
            </div>
            <div class="총 금액" style="height: 20%; border: 1px solid black; display:flex">
              <div class="col-4" style="padding-left:3px;">총 금액</div>
              <div class="col-8" id="totalAmount" th:value="${session.totalCount}" th:text="${session.totalAmount}" style="text-align:right; font-size:40px; padding-right:5px;"></div>
            </div>

            <div class="버튼" style="display: flex; border: 1px solid black; height: 40%;">
              <button class="discount" style="width: 50%; height: 100%;" onclick="change()">할인/수량</button>
              <button class="delete" style="width: 50%; height: 100%;" onclick="divDelete()">삭제</button>
            </div>
          </div>
          <div class="col-6">
            <div style="display: flex; height: 20%;">
              <input class="col-2" type="text" id="type" style="background-color: azure;" value="수량" readonly/>
              <input class="col-6" type="text" id="numberArea" style="text-align: end;" value=""/>
              <button class="col-2" style="font-size: 10px;" type="button" value="←" onclick="deleteNum()">←</button>
              <button class="col-2" style="font-size: 10px;" type="button" value="확인" onclick="apply()">확인</button>
            </div>
            <script>
              for(var i=0; i<9; i++) {
                document.write("<button class='col-4' value='");
                document.write(i+1);
                document.write("' onclick='numberSet(");
                document.write(i+1);
                document.write(")' style='height:20%'>");
                document.write(i+1);
                document.write("</button>");
              }
            </script>
            <br>
            <div style="display: flex; height: 20%;">
              <button class="col-4" onclick="minus()">-</button>
              <button class="col-4" onclick="numberSet(0)">0</button>
              <button class="col-4" onclick="plus()">+</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-7">
        <div style="display: flex; text-align: center; justify-content: center; height: 9vh;">
          <div class="col-12 center" style="border: 1px solid black; background-color: #00FFFF;"><h2>상품</h2></div>
        </div>

        <div id="categories" style="display: flex">
          <div class="col-1">
            <button class="col-12"
                    th:if="${not #lists.isEmpty(categories.content)}"
                    th:onclick="|location.href='@{/items(ctgPage=${categories.number-1}, page=${categoryItems.number}, category=${categoryItems.content.getFirst().category.category})}' |"
                    th:attr="disabled=${!categories.hasNext()} ? 'disabled' : null"> < </button>
            <!-- categories가 빈 리스트 일 때 출력 -->
            <button class="col-12" th:if="${#lists.isEmpty(categories.content)}"> < </button>
          </div>
          <div class="col-10">
            <ul class="col-12" >
              <!-- 카테고리 3개 출력 -->
              <th:block th:each="category, iter : ${categories}">
                <li class="col-4" style="display: inline;">
                  <button class="col-12" th:text="${category.category}" th:value="${category.category}"
                          th:onclick="|location.href='@{items(ctgPage=${categories.number}, category=${category.category})}' |"></button>
                </li>
              </th:block>

              <!-- 카테고리가 3개보다 적을 때 빈 버튼 출력 -->
              <th:block
                      th:if="${categories.content.size() < 3}"
                      th:each="i : ${#numbers.sequence(1, 3 - categories.content.size())}">
                <li class="col-4" style="display: inline;">
                  <button class="col-12" style="height: 100%"> </button>
                </li>
              </th:block>
            </ul>
          </div>
          <div class="col-1">
            <button class="col-12"
                    th:if="${not #lists.isEmpty(categories.content)}"
                    th:onclick="|location.href='@{/items(ctgPage=${categories.number+1}, page=${categoryItems.number}, category=${categoryItems.content.getFirst().category.category})}' |"
                    th:attr="disabled=${!categories.isLast()} ? 'disabled' : null"> > </button>
            <!-- categories가 빈 리스트 일 때 출력 -->
            <button class="col-12" th:if="${#lists.isEmpty(categories.content)}" th:text="${categories.hasNext()}"> > </button>
          </div>
        </div>

        <!-- 아이템 목록 표시 -->
        <div id="items" style="height: 48vh; display: flex; flex-wrap: wrap;">
          <th:block th:each="item, iter : ${categoryItems}">
            <li class="col-3" style="display: inline;  height: 16vh">
              <button class="col-12" style="height: 16vh" th:onclick="Cart([[${item.id}]], [[${item.name}]], [[${item.price}]], [[${item.stockQuantity}]], [[${item.category.category}]])">
                <span th:utext="${item.name}"></span><br>
                <span th:utext="${item.price + ' 원'}"></span><br>
                <span th:utext="${'재고: ' + item.stockQuantity}"></span><br>
              </button>
            </li>
          </th:block>
          <!-- 빈 버튼 추가하여 총 12개의 버튼이 표시되도록 함 -->
          <th:block th:each="i : ${#numbers.sequence(1, 12 - categoryItems.content.size())}">
            <li class="col-3" style="display: inline; height: 16vh">
              <button class="col-12" style="height: 16vh"></button>
            </li>
          </th:block>
        </div>

        <div class="col-12" id="navigator" style="display: flex; height: 8vh; border: 1px solid black">
          <li class="col-2" style="display: inline">
            <button class="col-12" style="height: 8vh"
                    th:if="${not #lists.isEmpty(categoryItems.content)}"
                    th:onclick="|location.href='@{/items(ctgPage=${categories.number}, page=${categoryItems.number - 1}, category=${categoryItems.content.getFirst().category.category})}' |"
                    th:attr="disabled=${!categoryItems.hasPrevious()} ? 'disabled' : null"> < </button>
            <!-- categoryItems가 빈 리스트 일 때 출력 -->
            <button class="col-12" style="height: 8vh" th:if="${#lists.isEmpty(categoryItems.content)}"> < </button>
          </li>
          <li class="col-8" style="display:inline">
            <button class="col-12" style="height: 8vh; font-size: 20px;">
              <span th:text="${categoryItems.number + 1}"></span> / <span th:text="${categoryItems.totalPages}"></span>
            </button>
          </li>
          <li class="col-2" style="display: inline">
            <button class="col-12" style="height: 8vh"
                    th:if="${not #lists.isEmpty(categoryItems.content)}"
                    th:onclick="|location.href='@{/items(ctgPage=${categories.number}, page=${categoryItems.number + 1}, category=${categoryItems.content.getFirst().category.category})}' |"
                    th:attr="disabled=${!categoryItems.hasNext()} ? 'disabled' : null"> > </button>
            <!-- categoryItems가 빈 리스트 일 때 출력 -->
            <button class="col-12" style="height: 8vh" th:if="${#lists.isEmpty(categoryItems.content)}"> > </button>
          </li>
        </div>

        <div class="col-12" style="height: 16vh; display: flex;">
          <button class="col-12" style="height: 100%;" onclick="location.href='/order'">결제하기</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  function saveSession(id, quantity, discount, orderPrice, totalCount, totalAmount, category) {
    var cartItems = /*[[${categoryItems}]]*/ [];
    var page = parseInt(cartItems["number"]);

    jsonData = {
      id: id,
      quantity: quantity,
      discount: discount,
      orderPrice: orderPrice,
      totalCount: totalCount,
      totalAmount: totalAmount,
      page: page,
      category: category
    }
    // Ajax를 사용하여 서버에 데이터 전송
    $.ajax({
      type: 'POST',
      url: '/items',
      contentType: 'application/json',
      data: JSON.stringify(jsonData)
    })
  }

  // 상품 버튼 클릭 시 cartDiv에 추가
  function Cart(id, name, price, stock, category) {

    if (stock != 0) {
      var cart = document.getElementById("cart");
      var totalCounts = document.getElementById("totalCount").textContent;

      var totalCount = parseInt(totalCounts);
      var totalSum = parseInt(document.getElementById("totalAmount").textContent);

      // cart div에 같은 상품이 있는지 확인
      var existingDiv = Array.from(cart.children).find(function (div) {
        var itemIdInput = div.querySelector(".item-id");
        return itemIdInput.value == id;
      });

      if (existingDiv) {
        // 해당 qauntity input의 value를 1증가
        var quantityInput = existingDiv.querySelector(".quantity");
        var quantity = parseInt(quantityInput.value);
        quantity += 1;
        quantityInput.value = quantity;

        // qauntity변경에 따른 금액 변경
        var itemPrice = parseInt(existingDiv.querySelector(".price").value);
        var discount = parseInt(existingDiv.querySelector(".discount").value);
        var totalAmount = quantity * itemPrice - discount;
        existingDiv.querySelector(".amount").value = totalAmount;

        totalCount += 1;
        totalSum += itemPrice;

        saveSession(id, quantity, discount, totalAmount, totalCount, totalSum, category);
      } else {
        // cart div에 상품이 없을 시 추가 하기 위한 div 생성
        var newDiv = document.createElement("div");
        newDiv.style.display = "flex";

        // 각각 input 생성
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.className = "col-1 center";

        var itemId = document.createElement("input");
        itemId.type = "hidden";
        itemId.value = id;
        itemId.className = "item-id";

        var itemName = document.createElement("input");
        itemName.type = "text";
        itemName.value = name;
        itemName.readOnly = true;
        itemName.className = "col-4 center item-name";

        var quantity = document.createElement("input");
        quantity.type = "text";
        quantity.value = "1";
        quantity.readOnly = true;
        quantity.style.textAlign = "center";
        quantity.className = "col-1 center quantity";

        var itemPrice = document.createElement("input");
        itemPrice.type = "text";
        itemPrice.value = price;
        itemPrice.readOnly = true;
        itemPrice.style.textAlign = "right";
        itemPrice.className = "col-2 price";

        var discount = document.createElement("input");
        discount.type = "text";
        discount.value = "0";
        discount.style.textAlign = "right";
        discount.className = "col-2 discount";

        var amount = document.createElement("input");
        amount.type = "text";
        amount.value = price;
        amount.readOnly = true;
        amount.style.textAlign = "right";
        amount.className = "col-2 amount";

        var stockQuantity = document.createElement("input");
        stockQuantity.type = "hidden";
        stockQuantity.value = stock;
        stockQuantity.className = "item-stock";

        //input을 다 만든 후 처음 만든 div에 child로 삽입해 하나로 묶어줌
        newDiv.appendChild(checkbox);
        newDiv.appendChild(itemId);
        newDiv.appendChild(itemName);
        newDiv.appendChild(quantity);
        newDiv.appendChild(itemPrice);
        newDiv.appendChild(discount);
        newDiv.appendChild(amount);
        newDiv.appendChild(stockQuantity)

        //하나로 만든 div를 cart div에 삽입
        cart.appendChild(newDiv);

        totalCount += 1;
        totalSum += parseInt(price);

        saveSession(id, 1, 0, price, totalCount, totalSum, category);
      }
      document.getElementById("totalCount").textContent = totalCount;
      document.getElementById("totalAmount").textContent = totalSum;
    }
  }
</script>

<script>
  function deleteNum() {
    var number = document.getElementById("numberArea").value.toString();
    var length = number.length;
    console.log(number);
    console.log(length);
    if(length != 0){
      number /= 10;
      var num = number % 1;
      number -= num;
      if(number == 0) number = '';
      document.getElementById("numberArea").value = number;
    }
  }

  function numberSet(i) {
    console.log(i);
    var length = document.getElementById("numberArea").value.length;
    var number = document.getElementById("numberArea").value;
    console.log(length);
    if(length == '0'){
      number += i;
    } else {
      number += i;
      console.log(number);
    }
    document.getElementById("numberArea").value = number;
  }

  function minus() {
    var number = document.getElementById("numberArea").value;

    if(number > 1){
      number -= 1;
    }
    else if(number == 1) {
      number = '';
    }
    document.getElementById("numberArea").value = number;
  }

  function plus() {
    var number = parseInt(document.getElementById("numberArea").value);
    if (isNaN(number))
      number = 1;
    else
      number += 1;
    document.getElementById("numberArea").value = number;
  }

  function apply() {
    var number = parseInt(document.getElementById("numberArea").value);
    var totalCounts = document.getElementById("totalCount").textContent;
    var totalDiscounts = document.getElementById("totalDiscount").textContent;
    var totalAmounts = document.getElementById("totalAmount").textContent;

    var totalCount = parseInt(totalCounts);
    var totalDiscount = parseInt(totalDiscounts);
    var totalAmount = parseInt(totalAmounts);

    var cartItems = [];

    if(!isNaN(number)){
      var cart = document.getElementById("cart");
      var selectedDivs = Array.from(cart.children).filter(function(div) {
        var checkbox = div.querySelector(".col-1");
        return checkbox.checked;
      });

      // 상품을 선택하지 않으면 return
      if (selectedDivs.length == 0) return ;

      selectedDivs.forEach(function (div) {
        var quantityInput = div.querySelector(".quantity");
        var discountInput = div.querySelector(".discount");
        var amountInput = div.querySelector(".amount");

        var quantity = parseInt(quantityInput.value);
        var discount = parseInt(discountInput.value);
        var amount = parseInt(amountInput.value);
        var itemPrice = parseInt(div.querySelector(".price").value);
        var sum;

        var name = div.querySelector(".item-name").value;
        var stockQuantity = parseInt(div.querySelector(".item-stock").value);

        var item = {};

        // 수량을 선택했을 경우
        if (document.getElementById("type").value=="수량"){
          // 선택한 수량보다 재고가 적을 때 alert창을 띄운다.
          if (stockQuantity < number) {
            alert(name + "의 재고는 " + stockQuantity +"개 입니다.\n 선택 수량 : " + number + "개");
            return;
          }

          if(number <= quantity){
            totalCount -= (quantity - number);
          } else totalCount += (number-quantity);

          quantity = number;
          sum = quantity * itemPrice - discount;

          quantityInput.value = number;
          amountInput.value = sum;
        } else {  // 할인을 선택했을 경우
          if (amount < number) {
            alert("상품의 할인 가격은 상품 총 금액을 초과 할 수 없습니다.\n 상품 총 금액 : " + amount + ", 할인 가격 : " + number);
            return;
          }
          if(number <= discount)
            totalDiscount -= (discount - number);
          else
            totalDiscount += (number - discount);

          discount = number;
          discountInput.value = discount
          sum = quantity * itemPrice - discount;
          amountInput.value = sum;
        }

        if(amount <= sum) totalAmount += (sum- amount);
        else totalAmount -= (amount - sum);

        item.id = parseInt(div.querySelector(".item-id").value);
        item.quantity = quantity;
        item.orderPrice = sum;
        item.discount = discount;
        cartItems.push(item);
      });

      ApplySession(cartItems, totalCount, totalAmount, totalDiscount);

      document.getElementById("totalCount").textContent = totalCount;
      document.getElementById("totalDiscount").textContent = totalDiscount;
      document.getElementById("totalAmount").textContent = totalAmount;
      document.getElementById("numberArea").value="";
    }
  }

  function change() {
    var type = document.getElementById("type").value;
    if(type == "할인"){
      document.getElementById("type").value = "수량";
    }
    else{
      document.getElementById("type").value = "할인";
    }
  }

  function divDelete() {
    var cart = document.getElementById("cart");
    var selectedDivs = Array.from(cart.children).filter(function(div) {
      var checkbox = div.querySelector(".col-1");
      return checkbox.checked;
    });

    var totalCount = parseInt(document.getElementById("totalCount").textContent);
    var totalDiscount = parseInt(document.getElementById("totalDiscount").textContent);
    var totalAmount = parseInt(document.getElementById("totalAmount").textContent);

    var cartItems = [];

    selectedDivs.forEach(function(div) {
      var item = {};
      item.id = parseInt(div.querySelector(".item-id").value);
      cartItems.push(item);

      var quantity = parseInt(div.querySelector(".quantity").value);
      var discount = parseInt(div.querySelector(".discount").value);
      var amount = parseInt(div.querySelector(".amount").value);

      console.log(quantity);
      totalCount -= quantity;
      totalDiscount -= discount;
      totalAmount -= amount;
      div.remove();
    });

    DeleteCartSession(cartItems, totalCount, totalAmount, totalDiscount);

    document.getElementById("totalCount").textContent = totalCount;
    document.getElementById("totalDiscount").textContent = totalDiscount;
    document.getElementById("totalAmount").textContent = totalAmount;
  }

  function DeleteCartSession(cartItems, totalCount, totalAmount, totalDiscount) {

    jsonData = {
      cartItems: cartItems,
      totalCount: totalCount,
      totalAmount: totalAmount,
      totalDiscount: totalDiscount
    }
    $.ajax({
      type: 'POST',
      url: '/items/cartDelete',
      contentType: 'application/json',
      data: JSON.stringify(jsonData)
    });
  }

  function ApplySession(cartItems, totalCount, totalAmount, totalDiscount) {
    jsonData = {
      cartItems: cartItems,
      totalCount: totalCount,
      totalAmount: totalAmount,
      totalDiscount: totalDiscount
    }
    $.ajax({
      type: 'POST',
      url: '/items/cartApply',
      contentType: 'application/json',
      data: JSON.stringify(jsonData)
    });
  }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>

</body>
</html>
